/* QuizList CSS */
.quiz-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .quiz-list-heading {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .quiz-list-link {
    text-decoration: none;
  }
  
  .quiz-list-button {
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .quiz-list-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .quiz-list-name {
    font-size: 18px;
    margin-right: 10px;
    padding: 8px 16px;
    background-color: #f0f0f0;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .quiz-list-name:hover {
    background-color: #ddd;
  }
  
  .quiz-list-delete-button {
    margin-left: 10px;
    color: #ff1744;
  }
  